body {
  background-color: black;
  font-family: 'Noto Sans', sans-serif;
  overflow: hidden;
  margin: 1em 2em 1em 3em;
  line-height: 1.3;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 3em;
  margin-bottom: 20px;
  line-height: 1;
}

#verseorder {
  margin-left: -3rem;
  padding-left: 3rem;
  font-size: 42px;
  color: green;
  white-space: nowrap;
  overflow: auto;
  scrollbar-width: none;  
  &::-webkit-scrollbar {
    display: none;
  }
}

.currenttag {
  color: lightgreen;
  font-weight: bold;
}

#clock {
  font-size: 48px;
  color: yellow;
  text-align: right;
  font-weight: normal;
}

#currentslide {
  font-size: 54px;
  color: white;
  margin-bottom: 10px;
}

.bd-image-slide {
  display: block;
  position: absolute;
  left: 0;
  top: 80px;
  width: 100%;
  height: calc(100% - 80px);
  object-fit: contain;
  object-position: center;
  background: black;
  box-sizing: border-box;
}

/*
#currentslide img {
  width: 50%;
  display: block;
  margin: 0 auto;
}
*/

#nextslide {
  font-size: 42px;
  color: #999;
}

#currentslide.meta, .nextslide.meta {
  font-size: 14px;
}

p.nextslide {
  margin: 10px 0;
}